@import url(reset.css);
@import url(type.css);

:root {
    --h-padding: 36px;
    --v-padding: 36px;
    --transition-regular: .135s ease-out;
    --full-clip: rect(0% 100% 100% 0%);

    /* colors */
    --lightest: 247, 247, 247;
    --light: 239,239,239;
    --primary: 239,70,35;
    --dark: 114,109,103;
    --darkest: 64,65,68;

    /* shadows */
    --shadow-color: 0deg 0% 74%;
    --shadow-elevation-low:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 1px 1.4px -0.3px hsl(var(--shadow-color) / 0.12),
        0px 1.9px 2.7px -0.5px hsl(var(--shadow-color) / 0.21);
    --shadow-elevation-medium:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 2.3px 3.3px -0.2px hsl(var(--shadow-color) / 0.11),
        0px 4.5px 6.4px -0.4px hsl(var(--shadow-color) / 0.18),
        0.1px 9.4px 13.3px -0.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-high:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 3.2px 4.5px -0.1px hsl(var(--shadow-color) / 0.07),
        0px 5.5px 7.8px -0.2px hsl(var(--shadow-color) / 0.1),
        0px 8.1px 11.5px -0.2px hsl(var(--shadow-color) / 0.13),
        0.1px 11.4px 16.2px -0.3px hsl(var(--shadow-color) / 0.16),
        0.1px 16px 22.7px -0.4px hsl(var(--shadow-color) / 0.19),
        0.1px 22.5px 31.9px -0.5px hsl(var(--shadow-color) / 0.23),
        0.2px 31.3px 44.4px -0.5px hsl(var(--shadow-color) / 0.26);
}

html {
    background-color: rgb(var(--light));
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: rgb(var(--light));
    color: rgb(var(--darkest));

    a {
        text-decoration: none;
    }
}

main {
    visibility: hidden;
}

.site-header {
    position: sticky;
    top: 0;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px var(--h-padding);
    transition: var(--transition-regular);
    background-color: rgba(var(--light), .35);
    &:hover {
        background-color: rgba(var(--light), .9);
    }
    
    .name {
        font-size: 22px;
        font-variation-settings: var(--wide-semibold);
        transition: var(--transition-regular);
        -webkit-user-select: none; /* Safari */
        -ms-user-select: none; /* IE 10 and IE 11 */
        user-select: none; /* Standard syntax */
        cursor: default;
    }

    .site-nav {
        display: flex;
        gap: var(--h-padding);
        font-size: 18px;
        font-variation-settings: 'wght' 400, 'wdth' 100, 'slnt' 0;

        a {
            text-align: center;
            min-width: 100px;
            color: rgb(var(--darkest));
            transition: var(--transition-regular);
            &:hover {
                font-variation-settings: var(--wide-semibold);
            }
            &.active {
                color: rgb(var(--primary));
                font-variation-settings: var(--wide-semibold);
            }
        }

    }
}

.content {
    margin: auto;
    max-width: 1140px;
    padding: var(--v-padding) var(--h-padding);
    font-size: 18px;

    p + h3 {
        margin-top: 32px;
    }
}

.project-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    perspective: 1000px; /* Prevents z-index overlap with Header on scale. */

    .project-item {
        width: 100%;
        flex: 1 0;
    }
}

.label {
    font-variation-settings: var(--wide-light);
    font-family: var(--font-family);
    color: rgb(var(--primary));
    clip-path: var(--full-clip);
    text-transform: uppercase;
    letter-spacing: .1rem;
}



@media only screen and (max-width:800px) { 
    :root {
        --h-padding: 24px;
        --v-padding: 16px;
    }

    .site-header {
        position: static;
    }

	.project-list {
        grid-template-columns: 1fr;
        gap: 40px;
    }
}