@import url(reset.css);
@import url(type.css);
@import "/node_modules/glightbox/dist/css/glightbox.css";

:root {
    --h-padding: 32px;
    --v-padding: 64px;
    --transition-regular: .135s ease-out;
    --full-clip: rect(0% 100% 100% 0%);

    /* colors */
    --lightest: 247, 247, 247;
    --light: 239,239,239;
    --primary: 239,70,35;
    --dark: 114,109,103;
    --darkest: 64,65,68;

    /* shadows */
    --shadow-color: 0deg 0% 74%;
    --shadow-elevation-low:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 1px 1.4px -0.3px hsl(var(--shadow-color) / 0.12),
        0px 1.9px 2.7px -0.5px hsl(var(--shadow-color) / 0.21);
    --shadow-elevation-medium:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 2.3px 3.3px -0.2px hsl(var(--shadow-color) / 0.11),
        0px 4.5px 6.4px -0.4px hsl(var(--shadow-color) / 0.18),
        0.1px 9.4px 13.3px -0.5px hsl(var(--shadow-color) / 0.24);
    --shadow-elevation-high:
        0px 0.6px 0.9px hsl(var(--shadow-color) / 0.04),
        0px 3.2px 4.5px -0.1px hsl(var(--shadow-color) / 0.07),
        0px 5.5px 7.8px -0.2px hsl(var(--shadow-color) / 0.1),
        0px 8.1px 11.5px -0.2px hsl(var(--shadow-color) / 0.13),
        0.1px 11.4px 16.2px -0.3px hsl(var(--shadow-color) / 0.16),
        0.1px 16px 22.7px -0.4px hsl(var(--shadow-color) / 0.19),
        0.1px 22.5px 31.9px -0.5px hsl(var(--shadow-color) / 0.23),
        0.2px 31.3px 44.4px -0.5px hsl(var(--shadow-color) / 0.26);
}

html {
    background-color: rgb(var(--light));
}

body {
    font-family: var(--font-family);
    -webkit-font-smoothing: subpixel-antialiased;
    background-color: rgb(var(--light));
    color: rgb(var(--darkest));
    scrollbar-width: thin;
    scrollbar-color: rgb(var(--primary)) rgb(var(--darkest));

    &::-webkit-scrollbar {
        width: 6px;
    }

    &::-webkit-scrollbar-track {
        background: rgb(var(--darkest));
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgb(var(--primary));
        border-radius: 6px;
        padding: 2px;
        /* border: 3px solid rgb(var(--darkest)); */
    }

    a {
        text-decoration: none;
    }
}

main {
    visibility: hidden;
}

.content {
    margin: auto;
    max-width: 1140px;
    padding: var(--v-padding) var(--h-padding);
    /* font-size: 18px; */
}

.project-list {
    list-style-type: none;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 60px;
    perspective: 1000px; /* Prevents z-index overlap with Header on scale. */

    .project-item {
        width: 100%;
        flex: 1 0;
    }
}

.label {
    font-variation-settings: var(--wide-light);
    font-family: var(--font-family);
    color: rgb(var(--primary));
    clip-path: var(--full-clip);
    text-transform: uppercase;
    letter-spacing: .1rem;
}

.project-header-grid {
    display: grid;
    grid-template-columns: 3fr 1fr;
    margin-bottom: var(--h-padding);
    row-gap: 24px;
    column-gap: 60px;
    transition: var(--transition-standard);
    grid-template-areas: "header header"
                         "description meta";

    &.no-meta {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "description";
    }

    .project-header {
        grid-area: header;

        .title {
            color: rgb(var(--darkest));
            clip-path: var(--full-clip);
            padding-bottom: 8px;
            margin-bottom: 8px;
            line-height: 1.1em;
        }
    
        .subtitle {
            font-size: 18px;
            clip-path: var(--full-clip);
        }
    }

    .description {
        width: 100%;
        grid-area: description;
        font-kerning: none;
    }
    
    .meta {
        display: flex;
        grid-area: meta;
        gap: 16px;
        flex-direction: column;
        font-size: 15px;
        list-style-type: none;
    }
}

/* Glightbox Styling */
.glightbox-clean {
    .gslide-description {
        background: rgb(var(--darkest));
    }
    
    .gslide-desc {
        color: rgb(var(--light));
        font-family: var(--font-family);
        font-variation-settings: var(--wide);
    }

}



@media only screen and (max-width:912px) { 
    :root {
        --h-padding: 24px;
        --v-padding: 48px;
    }

    .site-header {
        position: static;
    }

	.project-list {
        grid-template-columns: 1fr;
        gap: 40px;
    }

    .project-header-grid {
        grid-template-columns: 1fr;
        grid-template-areas: "header"
                             "description"
                             "meta";

        .project-header {
            .title {
                font-size: 42px;
                margin-bottom: 0;
            }
    
            .subtitle {
                font-size: 14px;
            }
        }

        .description {
            font-size: 21px;
            line-height: 25px;
        }

        .meta {
            margin-bottom: 16px;
        }
    }
}