---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Mitch Pruitt | Designer & Developer";
---

<BaseLayout pageTitle={pageTitle} headerColor={"light"} footer={false}>
	<div class="intro-container">
		<section class="one">
			<div>
				<h2>howdy I'm mitch</h2>
				<h1>graphic designer</h1>
				<h1>product designer</h1>
				<h1>& front-end dev</h1>
			</div>
		</section>
		<section class="two">
			<div>
				<h1>I take products</h1>
				<h1>from zero to one</h1>
				<h1>& beyond</h1>
			</div>
			</section>
		<section class="three">
			<div>
				<h1>Don't take my<br />word for it</h1>
				<h1>Check out my projects</h1>
			</div>
		</section>
	</div>
</BaseLayout>

<style>
	.intro-container {
		overflow-x: hidden;
		section {
			height: 100vh;
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;
			padding: var(--h-padding) var(--v-padding);

			&.one {
				background-color: rgb(var(--darkest));
			}

			&.two {
				background-color: rgb(var(--primary));
				h1 {
					color: rgb(var(--lightest));
				}
			}

			&.three {
				background-color: rgb(var(--lightest));
				h1 {
					color: rgb(var(--darkest));
				}
			}
		}

		h2 {
			color: rgb(var(--light));
			font-size: 4vw;
			clip-path: var(--full-clip);
		}

		h1 {
			color: rgb(var(--primary));
			font-variation-settings: var(--condensed-black);
			text-transform: uppercase;
			font-size: 10vw;
			line-height: .85;
		}
	}
</style>

<script>
import {gsap, splitType, cleanText} from "../scripts/animation";

	gsap.set('main', {visibility: "visible"})

	gsap.timeline({
		scrollTrigger: {
			trigger: ".one",
			// markers: true,
			pin: true,
			scrub: 1,
			start: "top top",
			toggleActions: "play none none reverse"
		}
	})
	.from(".one h1", {
		opacity: 0,
		x: 100,
		stagger: 0.5,
		duration: 1
	})
	
	gsap.timeline({
		scrollTrigger: {
			trigger: ".two",
			// markers: true,
			pin: true,
			scrub: 1,
			start: "top top",
			end: "+=2000",
			toggleActions: "play none none reverse"
		}
	})
	.from(".two h1", {
		opacity: 0,
		stagger: 0.5,
		x: -100,
		duration: 1
	})

	gsap.timeline({
		scrollTrigger: {
			trigger: ".three",
			// markers: true,
			pin: true,
			scrub: 1,
			start: "top top",
			toggleActions: "play none none reverse"
		}
	})
	.from(".three h1", {
		opacity: 0,
		x: 100,
		stagger: .5,
		duration: 1
	})

</script>