---
import BaseLayout from "../layouts/BaseLayout.astro";
const pageTitle = "Mitch Pruitt | Designer & Developer";
---

<BaseLayout pageTitle={pageTitle} headerColor={"light"}>
	<div class="bigassheader">
		<div>
			<h2>I take products and brands from</h2>
			<h1>zero to one</h1>
			<h1>& beyond</h1>
		</div>
	</div>
</BaseLayout>

<style>
	.bigassheader {
		height: 100vh;
		background-color: rgb(var(--darkest));
		display: flex;
		align-items: center;
		padding: var(--h-padding) var(--v-padding);

		h2 {
			color: rgb(var(--light));
			font-size: 4vw;
		}

		h1 {
			color: rgb(var(--primary));
			font-variation-settings: var(--condensed-black);
			text-transform: uppercase;
			font-size: 16vw;
			line-height: .85;
			&:last-of-type {
				font-variation-settings: var(--wide-light);
			}
		}
	}
</style>