---
const currentPath = Astro.url.pathname;
const {headerColor = "dark"} = Astro.props;
---
<header class={`site-header ${headerColor}`}>
    <div class="name">
        <a href="/" class={currentPath === '/' ? 'active' : ''}>Mitch Pruitt</a>
    </div>
    <nav class="site-nav">
        <a href="/projects" class={currentPath === '/projects' ? 'active' : ''}>Projects</a>
        <a href="/about" class={currentPath === '/about' ? 'active' : ''}>About</a>
    </nav>
</header>

<style>
    .site-header {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px var(--h-padding);
        transition: var(--transition-regular);

        &.dark {
            a {
                color: rgb(var(--darkest));
            }
        }

        &.light {
            a{
                color: rgb(var(--lightest))
            }
        }

        a {
            transition: var(--transition-regular);

            &:hover {
                color: rgb(var(--primary));
            }

            &.active {
                color: rgb(var(--primary));
                border-bottom: 1px dotted rgb(var(--primary));
            }
        }
        
        .name {
            font-size: 20px;
            font-variation-settings: var(--wide-semibold);
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            cursor: default;
        }

        .site-nav {
            display: flex;
            gap: var(--h-padding);
            font-size: 16px;
            font-variation-settings: 'wght' 400, 'wdth' 100, 'slnt' 0;
        }
    }
</style>