---
const currentPath = Astro.url.pathname;
const {headerColor = "dark"} = Astro.props;
import Modal from "@components/Modal.astro";
---
<header class={`site-header ${headerColor}`}>
    <div class="name">
        <a href="/" class={currentPath === '/' ? 'active' : ''}>Mitch Pruitt</a>
    </div>
    <nav class="site-nav">
        <a href="/projects/" class={currentPath === '/projects/' ? 'active' : ''}>Projects</a>
        <a id="open-modal" href="javascript:null">Contact</a>
    </nav>
    <Modal />
</header>

<style>
    /* General nav styles */
    .site-header {
        position: fixed;
        top: 0;
        z-index: 10;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px var(--h-padding);
        transition: color var(--transition-regular);

        &.dark {
            a {
                color: rgb(var(--darkest));
            }
        }

        &.light {
            a {
                color: rgb(var(--lightest))
            }
        }


        .name, .site-nav {
            a {
                transition: var(--transition-regular);
    
                &:hover {
                    color: rgb(var(--primary));
                }
    
                &.active {
                    color: rgb(var(--primary));
                    border-bottom: 1px dotted rgb(var(--primary));
                }
            }
        }
        
        .name {
            font-size: 20px;
            font-variation-settings: var(--wide-semibold);
            -webkit-user-select: none; /* Safari */
            -ms-user-select: none; /* IE 10 and IE 11 */
            user-select: none; /* Standard syntax */
            cursor: default;
        }

        .site-nav {
            display: flex;
            gap: var(--h-padding);
            font-size: 16px;
            font-variation-settings: 'wght' 400, 'wdth' 100, 'slnt' 0;
        }
    }
</style>

<script>
    import { gsap } from "src/scripts/animation";
    
    // Animate modal
    const open = document.querySelector("#open-modal");
    const close = document.querySelector("#close-modal");
    const dialog = document.querySelector("dialog");

    open?.addEventListener('click', () => {
        dialog?.showModal()

        gsap.fromTo(
            dialog, {
                opacity: 0,
                y: -100,
                "--bg-opacity": 0
            }, {
                y: 0,
                opacity: 1,
                "--bg-opacity": .9,
                duration: .5,
                ease: 'power4.out'
            }
        )
    })

    close?.addEventListener('click', () => {
        gsap.fromTo(
            dialog, {
                y: 0,
                opacity: 1,
                "--bg-opacity": .9
            }, {
                y: 100,
                opacity: 0,
                "--bg-opacity": 0,
                duration: .5,
                ease: 'power4.out',
                onComplete: () => {
                    dialog?.close()
                }
            }
        )
    })
</script>