---
const {label, value} = Astro.props
---

<li class="meta-item">
    <small class="label">{label}</small>
    <p class="data">{value}</p>
</li>

<style>
    .meta-item {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }

    small {
        color: rgb(var(--primary));
        font-variation-settings: var(--wide);
        clip-path: var(--full-clip);
    }

    .data {
        color: rgb(var(--dark));
        font-variation-settings: var(--wide);
        clip-path: var(--full-clip);
    }
</style>