<dialog class="dialog" id="contact">
    <div class="dialog-content">
        <h3 class="title">Let's make great things</h3>
        <p class="text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Consequuntur temporibus esse corrupti libero rem. Eius optio enim, dicta rem minima assumenda esse beatae. Ipsam quis ipsa cumque porro eligendi expedita odio consectetur illum obcaecati? Ab quis recusandae doloremque accusantium voluptatem id iste ut laudantium quidem.</p>
        <a class="close-modal" href="javascript:null" onclick=window.contact.close() class="close"><small>Close window</small></a>
    </div>
</dialog>
