---
const {sectionTitle} = Astro.props;
---
<section class="project-section">
    <h3 class="project-title">{sectionTitle}</h3>
    <div class="content-text">
        <slot name="text" />
    </div>
    <div class="content-gallery">
        <slot name="gallery" />
    </div>
</section>

<style>
    .project-section {
        margin-bottom: 32px;
        display: grid;
        column-gap: 48px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto 1fr;
        grid-template-areas: "header header"
                             "text gallery";
    }

    .project-title {
        grid-area: header;
    }

    .content-text {
        grid-area: text;
    }

    .content-gallery {
        grid-area: gallery;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-auto-rows: min-content;
        gap: 16px;

        .gallery-item {
            border-radius: 4px;
            overflow: hidden;
            box-shadow: var(--shadow-elevation-low);
            transition: var(--transition-regular);
            display: flex;
            justify-content: center;
            align-items: center;
            
            img {
                width: 100%;
                height: 100%;
                object-fit: cover;
                transition: var(--transition-regular);
            }
            
            &.image {
                aspect-ratio: 1/1;
            }

            &.video, &.video-embed {
                grid-column: auto / span 2;
                aspect-ratio: 16 / 9;
                img {
                    max-width: 100%;
                    height: auto;
                } 
            }

            &:hover {
                box-shadow: var(--shadow-elevation-high);
                img {
                    transform: scale(1.025);
                }
            }
        }
    }

    @media only screen and (max-width:912px) { 
        .project-section {
            grid-template-columns: 1fr;
            grid-template-rows: auto 1fr auto;
            grid-template-areas: "header"
                                 "text"
                                 "gallery";
        }

        .content-gallery {
            margin-top: 16px;
            grid-template-columns: repeat(6, 1fr);

            .gallery-item {
                &.image {
                    grid-column: auto / span 2;
                }

                &.video {
                    grid-column: auto / span 3;
                }

                &.video-embed {
                    grid-column: 1 / span 6;
                }
            }
        }
    }
</style>