---
const {sectionTitle} = Astro.props;
---
<section class="project-section">
    <h3>{sectionTitle}</h3>
    <div class="project-section-content">
        <div class="content-text">
            <slot name="text" />
        </div>
        <div class="content-gallery">
            <slot name="gallery" />
        </div>
    </div>
</section>

<style>
    .project-section {
        margin-bottom: 32px;
    }

    .project-section-content {
        height: 100%;
        display: flex;
        gap: 60px;

        .content-text {
            flex: 1;
        }

        .content-gallery {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 8px;

            a {
                width: 250px;
                height: 250px;
                overflow: hidden;
            }
        }
    }

    @media only screen and (max-width:912px) { 
        .project-section-content {
            flex-direction: column;
            gap: 8px;
        }

        .content-gallery {
            margin-top: 16px;
        }
    }
</style>