---
const {sectionTitle} = Astro.props;
---
<section class="project-section">
    <h3>{sectionTitle}</h3>
    <div class="project-section-content">
        <div class="content-text">
            <slot name="text" />
        </div>
        <div class="content-gallery">
            <slot name="gallery" />
        </div>
    </div>
</section>

<style>
    .project-section {
        margin-bottom: 32px;
    }

    .project-section-content {
        height: 100%;
        display: flex;
        gap: 60px;

        .content-text {
            flex: 1;
        }

        .content-gallery {
            flex: 1;
            display: flex;
            flex-wrap: wrap;
            align-content: flex-start;
            gap: 8px;
            justify-content:center;

            .gallery-item {
                flex: 1;
                display: flex;
                max-width: 250px;
                min-width: 180px;
                aspect-ratio: 1/1;
                overflow: hidden;
                justify-content:center;
                align-items: center;
                box-shadow: var(--shadow-elevation-low);
                transition: var(--transition-regular);
                &:hover {
                    box-shadow: var(--shadow-elevation-high);
                    img {
                        transform: scale(1.025);
                    }
                }
            }
        }
    }

    @media only screen and (max-width:912px) { 
        .project-section-content {
            flex-direction: column;
            gap: 8px;

            .content-gallery {
                margin-top: 16px;
    
                .gallery-item{
                    max-width: 125px;
                    min-width: 150px;
                }
            }
        }

    }
</style>