---
import "../styles/global.css";
import Header from "../components/Header.astro";
import { ViewTransitions } from 'astro:transitions';

const {pageTitle} = Astro.props;
---

<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://use.typekit.net/god4dlz.css">
		<title>{pageTitle}</title>

        <ViewTransitions />
	</head>
	<body>
		<Header />
        <slot />
		<!-- <footer>contact</footer> -->
	</body>
</html>

<style>
	body{
		background: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
		background-size: 200% 200%;
		animation: gradient 15s ease infinite;

		@keyframes gradient {
			0% {
				background-position: 0% 50%;
			}
			50% {
				background-position: 100% 50%;
			}
			100% {
				background-position: 0% 50%;
			}
		}
	}
</style>