---
import "../styles/global.css";
import Header from "../components/Header.astro";

const {pageTitle} = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
        <link rel="stylesheet" href="https://use.typekit.net/god4dlz.css">
		<title>{pageTitle}</title>
		<noscript>
			<style>
				main {
					visibility: visible !important;
				}
			</style>
		</noscript>
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<!-- <footer>contact</footer> -->
	</body>
</html>